# This file is meant to be merged with the normal docker-compose.yml to enable NVIDIA GPU usage in the container 

version: "3.8"
services:
  project312:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: all
